@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model welcome.Models.Hotel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create</h4>

<form asp-action="Create">
    <input type="hidden" asp-for="HotelGroupID" />
    <div class="form-horizontal">
        <h4>Hotel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Dealer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dealer" class="form-control" />
                <span asp-validation-for="Dealer" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExpirationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" name="ExpirationDate" value="@Model.ExpirationDate" class="form-control datepicker" />
                <span asp-validation-for="ExpirationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HotelDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" name="HotelDate" value="@Model.HotelDate" class="form-control datepicker" />
                <span asp-validation-for="HotelDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPayingSupport" />
                    <label asp-for="IsPayingSupport"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@Model.HotelGroupID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
