@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<welcome.Models.Deposit>

<div class="modal fade" id="CreateNewDepositModalForm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Localizer["Add new deposit"]</h4>
            </div>
            <div id="newdpositcontainer" class="col-xs-offset-1 col-xs-10"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="savenewdeposit" data-link="@Url.Action("SaveNewDepositData")">Save changes</button>
            </div>
        </div>
    </div>
</div>

<table>
    @foreach (var deposit in Model)
    {
        <tr>
            @{ Html.RenderPartial("_ReservationDeposit", deposit);}
        </tr>


                }
</table>
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#CreateNewDepositModalForm" id="showaddnewdeposit">
    <span class="glyphicon glyphicon-plus-sign"> Deposit</span>
</button>

