@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model welcome.Models.Reservation

<form asp-action="EditReservation">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <input type="hidden" asp-for="HotelID" />

        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" id="AALabel">AA</span>
                    <input type="text" asp-for="AA" class="form-control" aria-describedby="AALabel">
                    <span asp-validation-for="AA" class="text-danger" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group">
                    <span class="input-group-addon" id="GestNameLabel">Guest</span>
                    <input type="text" asp-for="GuestOrGroup" class="form-control" aria-describedby="GestNameLabel">
                    <span asp-validation-for="GuestOrGroup" class="text-danger" />
                </div>
            </div>
        </div>

        <hr />
        <div class="col-md-offset-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">@Localizer["Deposits"]</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="askprepaylabel">Ζητήθηκαν</span>
                                <input type="text" asp-for="AskPrePay" class="form-control numbertextbox" aria-describedby="askprepaylabel">
                                <span asp-validation-for="AskPrePay" class="text-danger" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="askprepayuntillabel">Έως</span>
                                <input type="text" asp-for="AskPrePayDate" class="form-control datepicker" aria-describedby="askprepayuntillabel">
                                <span asp-validation-for="AskPrePayDate" class="text-danger" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
        



        @*<div class="form-group">
            <label asp-for="AskPrePay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AskPrePay" class="form-control" />
                <span asp-validation-for="AskPrePay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AskPrePayDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AskPrePayDate" class="form-control" />
                <span asp-validation-for="AskPrePayDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AskPrePayRemarks" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AskPrePayRemarks" class="form-control" />
                <span asp-validation-for="AskPrePayRemarks" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Remarks" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
