@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model welcome.Models.Branch

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Branch</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BranchID" />
        <div class="form-group">
            <label asp-for="HotelID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="HotelID" class="form-control" asp-items="ViewBag.HotelID"></select>
                <span asp-validation-for="HotelID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Vardata" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.Partial("BranchVardata", Model.Vardata)
                <span asp-validation-for="Vardata" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="VardataReservations" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.Partial("BranchVardataReservation", Model.VardataReservations)
                <span asp-validation-for="VardataReservations" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@Model.HotelID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
